body{
    background: black;
}
.neonText {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
  }
  .heading {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
      font-size: 28px;

  } 
  .neonScore {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
      font-size: 25px;
  }
  button {
    color: #00fd33;
    padding:20px;
    border-color: #00fd33;
    font-size: 25px;
    transition: 0.2s;
    background-color: transparent;
    border-radius: 2em;
    cursor: pointer;
}


button:hover {
    color: #fff;
    background: #21f341;
    box-shadow: 0 0 10px #21f341, 0 0 30px #21f341, 0 0 60px #21f341;
}
.smallneon{
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
      font-size: 18px;
}
.final{
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
      font-size: 28px;
}
  /* a {
    padding: 20px 20px; 
    display: inline-block;
    color: #008000;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
}
a:hover {
    color: #111;
    background: #39ff14;
    box-shadow: 0 0 50px #39ff14;
} */ 

/* #but {
    box-sizing: border-box;
    width: 95px;
    height: 40px;
    border: 1px solid dodgerblue;
    margin: auto;
    border-radius: 4px;
    font-family: Verdana,
        Geneva, Tahoma, sans-serif;

    background-color: dodgerblue;
    color: white;
    font-size: 20px;
    cursor: pointer;
} */ 

